body {
	overflow: hidden;
}
.leftpanel {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 150px;
	border-right: 1px solid #ececec;
}

.leftpanel ul {
	margin-top: 50px;
}

.leftpanel ul li {
	padding: 20px;
}

.rightpanel {
	position: absolute;
	left: 165px;
	right: 0px;
	height: 100%;
	margin-top: 20px;
	overflow: auto;
}

.swagger-ui-wrap.rightpanel {
	display: none;
}

.segment .highlight {
	margin-top: 20px;
    padding: 9px 14px;
    margin-bottom: 34px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.segment h3 {
	font-size: 22px;
}

.segment .highlight p {
	margin-bottom: 15px;
}

.segment .highlight .code {
	color: #d44950;
}
